
#container {
    width: 90%;
/*    border: 1px solid grey; */
    height: auto;
   
    margin: 0 auto;
}

h1 a{
    font-size: 130%;
    color: #861BBF;
    text-decoration: none;
    
}
#header{
    height:100px;
    padding: 1% 0;
}

#searchbox {
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 40%;
    height: 40%;
    padding: 2% 1.5% 0 1.5%;
    margin-top: 2%;
    
    
    
}
#title {
    float: left;
        
}

#text {
    float:left;
    width:50%;
    padding: 1%;
    font-size: 80%;
    color:#E38A0C;
    font-weight: bold;
    background: white url(images/search.png) right center no-repeat;
}

#submit {
    float: right;
    padding: 1%;
    font-weight: bold;
    color: white;
    background: #A751DB;
    
}

.clear{
    clear:both;
}

#menu{
    height: 40px;
    background: linear-gradient(#F8F594, #fce53c);
    padding: 2% 0;
    
        
}

ul{
    list-style: none;
    
}

#menu ul li{
    float: left;
    padding: 0 2%; 
    height: 3%;
    border-right: 1px solid #5d12e7;
    
}
#menu ul li:last-child{
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color:#5d12e7;
    line-height: 2%;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
    
    
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 1.3em;
    font-weight: bold;
    color: #B314DB;
    
}

#introduction{
    background: linear-gradient(#E4F2B9, #B7E953);
    padding: 2%;
    margin: 2%;
}

#introduction h3{
    font-size: 200%;
    color: #316901;
    font-weight: normal;
}

#introduction p{
    font-size: 120%;
    color: #628F19;
    text-align: justify;
}

.sidebar{
    height: 500px;
    width: 44%;
    padding: 2% 1%;
    border: 10px solid #E4F2B9;
    border-radius: 20px;
    
}
.sidebar h3{
    color: #B314DB;
    font-size: 150%;
    
}
.sidebar ul li{
    height: auto;
    
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 120%;
    color: 5d12e7;
    text-align: left;    
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: #B314DB;
    font-size: 140%;
    font-weight: bold;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
    
} 
#leftsidebar ul li{
    list-style-image: url(images/arrowright.png);
    padding-bottom: 2%;
}
    
#rightsidebar ul li{
    list-style-image: url(images/tick.png);
    padding-bottom: 2%;
}

#leftsidebar{
    float:left;
}

#rightsidebar{
    float:right;
}
